* {
  font-family: NHaasGrotesk, Helvetica, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0 32px;
  top: 0;
  background-color: black;
}