* {
  font-family: NHaasGrotesk, Helvetica, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
  scroll-behavior: smooth;
  color: #fff;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1rem;
}

body {
  margin: 0;
  padding: 0 32px;
  top: 0;
  background-color: black;
}
