* {
  font-family: NHaasGrotesk, Helvetica, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
  scroll-behavior: smooth;
  color: #fff;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 1rem;
}

body {
  margin: 0;
  padding: 0 32px;
  top: 0;
  background-color: black;
}

.back-button {
  position: absolute;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 3;
  height: 32px;
  width: 32px;
  padding: 0;
  top: calc(70px + 32px); /* Header + padding*/
  left: 32px;
}

.back-button__arrow {
  height: 100%;
  width: auto;
}
