.hero {
  width: 100%;
  height: 25vw;
  background-color: pink;
  display: flex;
  gap: 0.8vw;
}
.recommended-game {
  height: 100%;
  width: 50%;
}
.recommended-game__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.shortcuts {
  height: 100%;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.shortcuts__container {
  background-color: aqua;
  display: inline;
  height: calc(50% - 0.4vw);
  width: calc(50% - 0.4vw);
  
}

.shortcuts__container-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.carousel {
  background-color: #6f6262;
  width: 100%;
  height: fit-content;
  display: flex;
  overflow-x: scroll;
  gap: 0.8vw;
  padding: 16px 0;
  scrollbar-width: none;
}

.carousel__game {
  width: auto;
  flex-grow: 1;
  height: auto;
}

.carousel__game-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

@media screen and (max-width: 950px) {
  .hero {
    flex-direction: column;
    height: fit-content;
  }
  .recommended-game {
    height: auto;
    width: 100%;
  }
  .shortcuts {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
  }
}
