.hero {
  width: 100%;
  height: 25vw;
  display: flex;
  gap: 0.8vw;
  padding: 32px 0;
}
.recommended-game {
  height: 100%;
  width: 50%;
  position: relative; 
}

.recommended-game:hover {
  cursor: pointer;
}

.recommended-game__text{
  position: absolute;
  width: calc(100% - 32px);
  padding: 16px 24px;
  bottom: 0;
  z-index: 2;
  background: linear-gradient(to top, rgba(0,0,0,0.8), transparent);
}

.recommended-game__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.shortcuts {
  height: 100%;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.shortcuts__container {
  display: inline;
  height: calc(50% - 0.4vw);
  width: calc(50% - 0.4vw);
}

.shortcuts__container-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.carousel {
  width: 100%;
  height: fit-content;
  display: flex;
  overflow-x: scroll;
  gap: 0.8vw;
  padding: 16px 0 32px 0;
  scrollbar-width: none;
}

.carousel__game {
  width: auto;
  flex-grow: 1;
  height: auto;
  position: relative;
  display: inline-block;
}

.carousel__game-title {
  position: absolute;
  padding: 16px;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.2s;
  z-index: 2;
}

.carousel__game:hover .carousel__game-title {
  opacity: 1;
}

.carousel__game-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.carousel__game::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: transparent;
  transition: background 0.2s ease;
}

.carousel__game:hover::after {
  cursor: pointer;
  background: #00000055;
}

@media screen and (max-width: 950px) {
  .hero {
    flex-direction: column;
    height: fit-content;
  }
  .recommended-game {
    height: auto;
    width: 100%;
  }
  .shortcuts {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
  }
}
