.navbar {
    display: flex;
    align-items: center;
    background-color: #111;
    color: white;
    padding: 0 2rem;
    justify-content: space-between;
    height: 70px;
}

.navbar__logo {
    height: 40px;
    width:  auto;
}

.navbar__center {
    display: flex;
    align-items: center;
    justify-content: flex-start;;
    gap: 1rem;
}

.navbar__left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 0 1 auto;
    gap: 2.5rem;
}

.navbar__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 0 1 auto;
    gap: 10px;
}

.navbar__button {
    flex: 0 1 auto;
    background: none;
    position: relative;
    color: rgba(255, 255, 255, 0.85);
    border: none;
    font-size: 1rem;
    padding: 12px 20px;
    cursor: pointer;
    transition: all 0.2s ease;
    font-weight: 500;
    border-radius: 1px;
    height: 100%;
}

.navbar__icon {
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.navbar__button:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
}

.navbar__icon:hover {
    transform: scale(1.1)
}

.navbar__button--login:hover {
    background: rgba(255, 255, 255, 0.1);
    color: white;
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.05);
}

.navbar__button:focus {
    outline: none;
}

.navbar__button--login {
    color: rgba(255, 255, 255, 0.9);
    border: 1px solid #555;
    border-radius: 6px;
    padding: 6px 14px;
    margin-left: 10px;
    transition: all 0.3s ease;
}

.navbar__search--input {
    padding: 6px 10px;
    border-radius: 4px;
    border: 1px solid #444;
    background-color: #222;
    color: white;
    outline: none;
    transition: all 0.3s ease;
    width: clamp(100px, 15vw, 200px);
}
